@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Roboto", "Tagesschrift" !important;
 
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.logo{
    display: inline-block;

}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 165px auto !important;
    /* border: 2px solid red; */
}
.line {
    height: 2px;
    list-style-type: none;
    /* width: 50%; */
    width: 600px !important;
    /* background-color: red; */
    background-color: #353333;
    transform: translateX(30px);
}
.nav {
    width: 95%;
    display: flex;
    flex-direction: row !important;
    /* border: 2px solid #ccc; */
    justify-content: space-between;
    align-items: center;
}
.nav li {
    display: flex;
    list-style-type: none;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
   gap: 50px;
   align-items: center !important;
    background-color: #36353581;
    margin: 0 !important;
    padding: 20px 30px 0 !important;
   width: 100% !important;
   /* border: 2px solid red; */
   word-spacing: 15px;
}
.nav-bar a{
    /* display: flex; */
    text-decoration: none;
    color: #fff;
    /* margin: 20px auto; */
    padding-bottom: 20px;
}
.active {
    /* height: 2px; */
    border-bottom: 3px solid #fff;
}

/* space section  */

.ace {
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    width: 80%;
    margin: 50px auto ;
}


.space h4{
    word-spacing: 10px;
    color: #D0D6F9;

}
.space h1 {
    font-weight: 300;
    font-size: 8.5rem;
}
.space p {
    color: #D0D6F9;
    width: 25.5rem;
    line-height: 30px;
}
.explore{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353333;
    font-size: 1.6rem;
    cursor: pointer;
}   
.explore:hover {
    box-shadow: 0 0 10px 30px rgba(252, 251, 251, 0.322);
}
.explore a{
    color: #353333 !important;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
.left, .close, .ham{
    display: none !important;
}
@media screen and (min-width:502px) and (max-width:1050px) {
      body {
    background-image: url(/assets/home/background-home-tablet.jpg);
    /* color: red; */
  }
  header{
    /* border: 2px solid red; */
    padding: 0 !important;
    width: 100% !important;
    margin: 10px 0 0 10px !important;
    justify-content: center !important;
  }
     .nav-bar {
        /* border: 2px solid gold; */
        margin: 0 0 0 30px !important;
    gap: 50px;
    width: 98%;
    word-spacing: 10px;
  }
  .ace {
    flex-direction: column;
  }
  .line{display: none !important;}
}

@media screen and (max-width:500px) {
    body {
        background-image: url(/assets/home/background-home-mobile.jpg);
        /* color: gold; */
        padding: 0;
    }
    header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin: 10px 0 !important;
    /* border: 2px solid red; */
}
 .close, .hams{
    display: block !important;
 }
/* Hide menu off-screen */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
    background-color: #36353581;
  /* height: 100vh; */
  /* background-color: #000; */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  /* padding: 20px; */
  z-index: 1000;
}

.side-menu.show {
  transform: translateX(0);
}

/* Hide close button by default */
.close {
  display: none;
  float: right;
}

/* Position hamburger icon */
.ham {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1100;
  cursor: pointer;
}

/* Navigation items */
.nav-bar {
  list-style: none;
  /* padding-left: 0 !important; */
  /* padding: 0 !important; */
  margin-top: 40px;
  display: flex !important;
  /* justify-content: center; */
  align-items: flex-start !important;
  /* justify-items: start !important; */
  flex-direction: column ;
/* justify-content: start !important;    */
  gap: 10px;
    background-color: #36353500;
    /* text-align: start !important; */
width: 100% !important;
/* border: 2px solid red; */
padding: 0 !important;
}
.nav{
    border: 0;
}

.nav-bar a {
    /* border: 2px solid red; */
  color: white;
  display: flex !important;
  flex-direction: row !important;
  border-bottom: 0;
  overflow: hidden;
  margin: 0 !important;
  text-decoration: none;
  width: 100% !important;
  /* margin: 0 0 0 -40px !important; */
  padding-right: 110px;
  word-spacing: 5px;
}
.active {
    /* height: 2px; */
    border-right: 3px solid #fff;
}


    .line{
        display: none !important;
    }
    h1{
        font-size: 5rem !important;
    }
    h4 {
        text-align: center;
    }
    .ace{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        /* border: 2px solid red; */
    }
    p{
        text-align: center;
        margin: 0 auto;
        width: 18rem !important;
        /* border: 2px solid red; */
    }
}