@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Roboto", "Tagesschrift" !important;
   
     background-image: url(/space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.crew{
    color: #fff;
}


.logo{
    display: inline-block;

}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 165px auto !important;
}
.line {
    height: 2px;
    list-style-type: none;
    width: 600px !important;
    background-color: #353333;
    transform: translateX(30px);
}
.nav {
    width: 95%;
    display: flex;
    flex-direction: row !important;
    /* border: 2px solid #ccc; */
    justify-content: space-between;
    align-items: center;
}
.nav li {
    display: flex;
    list-style-type: none;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
   gap: 50px;
   align-items: center !important;
    background-color: #36353581;
    margin: 0 !important;
    padding: 20px 30px 0 !important;
   width: 100% !important;
   word-spacing: 15px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
}
.active {
    border-bottom: 3px solid #fff;
}
/* space section  */



.crews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px auto;
}
.crews {
    margin: 0;
    justify-content: space-between;
    width: 98%;
}

.imgs{
    width: 40%;
    height: fit-content;
}
.imgs img{
    height: 70vh;
}

 .details h1 {
      font-size: 4rem;
    font-weight: 350;
 }
 .cursor{
    cursor: pointer;
    list-style-type: none;
    height: 10px;
    width: 10px;
    background-color: #555353;
    border-radius: 50%;
 }
 .act{
    background-color: #fff;
 }
 .all{
    width: 90%;
    margin: 0 0 0 auto;
 }
.details > p{
 width: 31rem;
 text-align: start;
    line-height: 30px;
    margin: 10px 0 140px 0;
    opacity: 0.6;
}
.crew h3{
    opacity: 0.6;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
.left, .close, .ham{
    display: none !important;
}
@media screen and (min-width:426px) and (max-width:768px) {
        body {
    background-image: url(/space-tourism-website-main/starter-code/assets/crew/background-crew-tablet.jpg);
  }
    
  header{
    padding: 0 !important;
    width: 100% !important;
    margin: 10px 0 0 10px !important;
    justify-content: center !important;
  }
     .nav-bar {
        margin: 0 0 0 30px !important;
    gap: 50px;
    width: 98%;
    word-spacing: 10px;
  }
  .crews {
    flex-direction: column;
    margin: 10px !important;
    padding: 0 !important;
    width: 75%;
    align-items: start !important;
  }
  .line{display: none !important;
  }

}

@media screen and (max-width:425px) {
    body {
        background-image: url(/space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg);
        color: gold;
        padding: 0;
    }
      .crews {
    flex-direction: column;
    margin: 10px !important;
    padding: 0 !important;
    width: 100%;
    align-items: start !important;
  }
  .details p {
    width: 100%;
  }
     header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin: 10px 0 !important;
}
 .close, .hams{
    display: block !important;
 }
/* Hide menu off-screen */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
    background-color: #36353581;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.side-menu.show {
  transform: translateX(0);
}
/* Hide close button by default */
.close {
  display: none;
  float: right;
}
/* Position hamburger icon */
.ham {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1100;
  cursor: pointer;
}
/* Navigation items */
.nav-bar {
  list-style: none;
  margin-top: 40px;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column ;
  gap: 10px;
    background-color: #36353500;
width: 100% !important;
padding: 0 !important;
}
.nav{
    border: 0;
}
.nav-bar a {
  color: white;
  display: flex !important;
  flex-direction: row !important;
  border-bottom: 0;
  overflow: hidden;
  margin: 0 !important;
  text-decoration: none;
  width: 100% !important;
  padding-right: 110px;
  word-spacing: 5px;
}
.active {
    border-right: 3px solid #fff;
}
    .line{
        display: none !important;
    }
}